---
import profile from '../data/profile.json';
const p = profile.person;
const nameParts = p.name.split(' ');
const lastName = nameParts.pop();
const firstNames = nameParts.join(' ');
---
<header class="hero">
  <div class="wrap">
    <div class="reveal">
      <p class="headline">{p.headline}</p>
      <h1>
        {firstNames} <span class="underline">{lastName}</span>
        {p.pronouns && <span class="visually-hidden">({p.pronouns})</span>}
      </h1>
      <p class="intro">{p.shortIntro}</p>
      <p class="where">{p.location}</p>
      <div class="cta-row">
        <a class="button primary" href="#about">About Damien</a>
        <a class="button" href="#experience">View experience</a>
        <a class="button" href="#contact">Get in touch</a>
      </div>
    </div>
    <img
      class="portrait reveal"
      src={p.profileImage.src}
      alt={p.profileImage.alt}
      width="320"
      height="320"
      loading="eager"
      decoding="async"
    />
  </div>
</header>
